<script>
  $(document).ready(function (){
    $('#showlike').addClass( 'animated fadeInDownBig');
  });
</script>


</head>
<body>
<div class="container">
  <div class="row">
    <div id="loginbox" class="col-xs-6 col-xs-offset-3
         col-sm-6 col-sm-offset-3
         col-md-5 col-md-offset-4
         col-lg-4 col-lg-offset-4">
      <!-- This is for logo-->
      <div id="showlike">
        <div  class="logo-display" >
          <%= image_tag "/images/logotransparent.png" %>
          <!--<img src="/images/logotransparent.png" alt="Kreatio_logo"  class="img-responsive">-->
        </div>
        <!-- End of logo-->
        <!--form body -->
        <%= form_tag :cotroller=>"admin",:action=>"password_filling_form" do%>

            <div class="panel">
              <div class="panel-heading" style="border-bottom-color:lightgrey;">

                <div class="panel-title"><h3 class="text-center"><strong>E.D.M.S</strong> Forgot</h3></div>

              </div>
              <div class="panel-body">
                <div class="row">
                  <form>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <!--<i class="fa fa-envelope-o fa-fw"></i>-->
                      </span>


                          <!--<input class="form-control " type="text" placeholder="Email address">-->

                          <%= text_field :employee_detail,:official_mailid,:class=>"form-control",:placeholder=>'Email address',:iclass=>"fa fa-envelope-o fa-fw"%>

                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12">

                        <%= submit_tag"Reset password",:class=> "btn btn-success btn-block "%>

                        <!--<button type="button" class="btn btn-success btn-block "><i class="fa fa-lock"></i> Reset Password</button>-->
                      </div>
                      <!--
                          <div class="col-sm-6">
                              <a href="registration.html" class="btn btn-default btn-block "><i class="fa fa-rocket"></i> Register</a>
                          </div>
                         -->
                    </div>
                    <!--
                    <p class="text-center"><strong>-or-</strong></p>
                        <div class="form-group" >
                            <div class="col-sm-12" id="facebookbtn"  >
                                <button  type="button" class="btn btn-primary btn-block btn-facebook" style="border-radius: 10px;"><i class="fa fa-facebook"></i> Login with Facebook account</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" id="twitterbtn">
                                <button  type="button" class="btn btn-info btn-block btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter account</button>
                            </div>
                        </div>-->
                  </form>
                </div>
              </div>
            </div>



            <%= forgot %>
            <!--<p class="text-center"><a href="login.html">-->

            <!--&lt;!&ndash;<i class="fa fa-sign-in"></i>&ndash;&gt;-->

            <!--Back To login?</a></p>-->

        <%end%>
        <!--Form Ends-->
      </div>
    </div>
  </div>
</div>

</body>
</html>